# Compiled Object files
*.o
*.obj
./compile_commands.json
Examples/*.nc
Examples/*.txt
Examples/*.vtk
Examples/*.jpg
Examples/*.eps
Examples/preprocessing_example/Bouguer_field.grd
Examples/preprocessing_example/Detrended_anomaly.dat
Examples/preprocessing_example/Filtered_anomaly.dat
bin/

#makefile
#CMakeLists.txt
MISC/

# Examples/

*(Copy)/

__pycache__/

todo.md
build
test



PlotTest

.clangd
.cache
CMakeFiles
Makefile
cmake_install.cmake
compile_commands.json
.vscode


