# Compiled Object files
*.o
*.obj
./compile_commands.json
Examples/*.nc
Examples/*.txt
Examples/*.vtk
Examples/*.jpg
Examples/*.eps

#makefile
#CMakeLists.txt
MISC/

# Examples/

__pycache__/

todo.md
build



PlotTest

.clangd


