# Compiled Object files
*.o
*.obj
./compile_commands.json
Examples/*.nc
Examples/*.txt
Examples/*.vtk
Examples/*.jpg
Examples/*.eps
#Examples/Karstic_cave/data_preprocessing/Bouguer_field.grd
#Examples/Karstic_cave/data_preprocessing/Detrended_anomaly.dat
#Examples/Karstic_cave/data_preprocessing/Filtered_anomaly.dat
#Examples/Karstic_cave/data_preprocessing/gravity_Pivetta2015.txt
bin/

#makefile
#CMakeLists.txt
MISC/

# Examples/

*(Copy)/

__pycache__/

todo.md
build
test



PlotTest

.clangd
.cache
CMakeFiles
Makefile
cmake_install.cmake
compile_commands.json
.vscode


